.ContentCase-outer{
  display: flex;
  flex-direction: column;
 


}
.ContentCase-header {
  font-family: "Helvetica Neue",
  Helvetica;
  margin-left: 10%;
  font-size: 20px;
  color: Grey;
  
  
    
}
@media (max-width: 500px) {
    .ContentCase-header {
        margin-left: 15.5%;
    }
}
.ContentCase-body {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
padding: 10%;
background-color: #E8834D;
   
}