.ContentCase-outer{
  width: 100vh;
   display: flex;
   flex-direction: column;
  
   


}
.ContentCase-header {
   
    
}
.ContentCase-body {
    width: 100vh;
    display: flex;
    flex-direction: row;

   background-color : #E8834D;
}